
.div {
    background-color: darkgoldenrod;
    box-shadow: 23px 5px 18px 7px rebeccapurple;
height: 53px;
}
progress{
    width: 32%;
color: red;
}
hr{
border: solid;
color: aqua;
}
h1{
    color: darkgoldenrod;
}
div{
        height: 130px;
        background-color: red;
        transition-property: all;
        transition-duration: 2s;
        box-shadow: 47px -29px 2px 43px chartreuse;

}
div:hover{
    background-color: mediumslateblue;
    width: 72%;
}

img{
    height: 130px;
    color: red;
    transition-property: all;
    transition-duration: 2s; 

}
img:hover{
    width: 60%;
    height: 100%;
}
p{
    float: right;
    width: 65%;
    margin-top: 1%;
}