/* input:focus{
    background-color: green;
}
input:hover{
    background-color: red;
    
}
ol{
    list-style-type: circle;
}
a{
    text-decoration: none;
}
.div {
    background-color: darkgoldenrod;
    box-shadow: 23px 5px 18px 7px rebeccapurple;
height: 53px;
}

.p {
    float: right;
    width: 65%;
    margin-top: 1%;
}
progress{
    width: 32%;
color: red;

}
hr{
border: solid;
color: aqua;
}
h1{
    color: darkgoldenrod;
}
div{
height: 130px;
background-color: red;
transition-property: all;
transition-duration: 2s;    
transition-timing-function:step-start;
}
div:hover{
    background-color: black;
    width: 690px;
} */

img{
    width: 50%;
    height: 50%;
    height: 130px;
background-color: red;
transition-property: all;
transition-duration: 2s;    

}
img:hover{
    width: 60%;
}